@import 'variables';

*{
    background-color: rgba(0,0,0,0);
    color:white;


}
body{
    background-color: #000000;
    text-align: center;
    color:white;
}
h3 {
    font-size: 30;
}

$section-width : 50%;
$section-height: 40%;
section {
    background-color: antiquewhite;
    position: absolute;
    width: $section-width;
    height: $section-height;
    border: solid;
    border-color: black;

    h3{
        position:absolute;
        top:39%;
        left: 47%;
        color:white;

    }

}
$begin: 10%;
#projects{
    top:$begin;
    background-image: url('../../projects.jpg');
    h3{
        top:35%;
    }
}
#skills{
    top:$begin;
    left:$section-width;
    background-image: url('../../react.jpg');
    h3{
        color:#84afe6;

    }

}
#about{
    top:$begin + $section-height;
    background-image: url('../../river.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}
#contact{
    top:$begin + $section-height;
    left:$section-width;
    background-image: url('../../papers.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    h3{
        left:45%;
        color:$Writing1;

    }



}

$diameter: 20%;
$warp: 1.8;
#circle-img{
    width:$diameter;
    height: $diameter *($warp);

    left:$section-width - ($diameter / 2);
    top:$begin + $section-height - ($diameter *$warp / 2);
    border-radius: 180px;
    background-image: url('../../me.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
$startPage:$begin + (2 * $section-height) + 15%;
h2{
    position: absolute;
    color:black;
    text-align:center;

}
$i: 0;
$dist: 50%;
$var: 0;
$indent: 47%;
@while $i < 4 {

    @if $i > 0{
        $var: $var + $dist;

    }
    #h#{$i}{
        
        top:$startPage + $var;
        left:$indent;
    }
    $i: $i +1;
}
.info{
    position: absolute;
    left: 14%;
    background-color: white;
    width:70%;
    height:20%;
    border-radius: 30px;
    color: black;
}

$i: 0;
@while $i < 4 {
    #p#{$i}{
        top:$startPage+ ($i * $dist) + 15%;
    }
    $i: $i +1;
}
.git{
    color:black;
}