@import 'variables';

*{
    background-color: rgba(0,0,0,0);
    color:white;


}
body{
    background-color: #000000;
    text-align: center;
    color:white;
}
h3 {
    font-size: 30;
}
#circle-img{
    border-radius: 50%;
    background-image: url('../../me.jpg');
}